 <div class="card border-success mb-3" style="max-width: 20rem;">
       {{!-- this should get the username --}}
  <div class="card-header">{{username}}</div>
  <div class="card-body">
        {{!-- text input area --}}
    <div class="form-group">
      <label for="exampleTextarea" class="form-label mt-4">comment</label>
      {{!-- this should get the text input under body --}}
      <p class="card-text">{{body}}</p>
    </div>
    </div> 
    