<!-- view post -->
{{#each pets}}
<div class="col">
  <div class="card m-2">
    <div class="card-header pet-header pet-bg">
      <span class="pet-name-txt">
        <a class="pet-link" href="/dashboard/edit-pet/{{id}}">{{name}}</a>
      </span>
    </div>
  </div>
</div>
{{/each}}
