<!-- view post -->
{{#each posts}}
<div class="col">
  <div class="card m-2">
    <div class="card-header post-header post-bg">
      <span class="post-title-txt">
        <a class="post-link" href="/dashboard/edit/{{post}}">{{title}}</a>
      </span>
      <span class="post-user-txt">
        {{format_date date_created}}
      </span>
    </div>
  </div>
</div>
{{/each}}
