<!-- view post -->
{{#each posts}}
<div class="col">
  <div class="card mb-3">
    <div class="card-header">
      <span class="post-title-txt">
        <!-- header acts as a link to view a single post -->
        <a class="post-link" href="/dashboard/edit-post/{{id}}">{{title}}</a>
      </span>
      <span class="post-user-txt">
        {{format_date date_created}}
      </span>
    </div>
  </div>
</div>
{{/each}}
