<!-- view post -->
<div class="post-card">
  <div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">
      <!-- header acts as a link to view a single post -->
      <a class="post-link" href="/posts/{{id}}">{{title}}</a>
    </div>
    <div class="card-body">
      <span class="badge rounded-pill bg-warning">{{category}}</span>
      <div class="form-group">
        <label for="post" class="form-label mt-4">Post</label>
        <p class="card-text">{{description}}</p>
        <!-- missing username -->
      </div>
    </div>
  </div> 
</div>