<!-- view post -->
{{#each users}}
{{#each posts as |post|}}
<div class="col">
  <div class="card mb-3 bg-dark">
    <div class="card-header">
      <span class="post-title-txt">
        <!-- header acts as a link to view a single post -->
        <a class="post-link" href="/dashboard/edit-post/{{id}}">{{post.title}}</a>
      </span>
    </div>
  </div>
</div>
{{/each}}
{{/each}}