
  <!-- make post layout sample idea-->
 <!-- make post layout -->

<div style="align-items: center; margin-left: 20%; margin-top: 5%;">
  <div class="card border-primary mb" style="max-width: 60rem; align-items: center;">
    <!-- this should get the username -->
    <h2>Create a Post</h2>
    <p>What is on your mind?</p>
<div class="card-header">{{username}}</div>
<div class="card-body">
   <!-- this should give a badge with the category -->
   <div class="form-group">
    <p>What category is this post's category?</p>
    <div class="col-med-4" id= "categoryOptions">
      <div class="category ">
        <label>
          <input type="radio" name="meetup" id="category1" value="service" checked="true">
          Service
        </label>
      </div>
      <div class="category">
        <label>
          <input type="radio" name="meetup" id="category2" value="inquiry">
          Inquiry
        </label>
      </div>
      <div class="category">
        <label>
          <input type="radio" name="meetup" id="category3" value="products">
          Products
        </label>
        <div class="category">
          <label>
            <input type="radio" name="meetup" id="category4" value="meetup">
            Meet up
          </label>
        </div>
        <div class="category">
          <label>
            <input type="radio" name="meetup" id="category5" value="training">
            Training
          </label>
        </div>
      </div>
    </div>
  </div>
     <!-- text input area -->
 <div class="form-group">
   <label for="exampleTextarea" class="form-label mt-4">Post Content :</label>
   <!-- this should get the text input under description and place it into a p tag -->
   <textarea class="form-control" id="postContent" rows="3"></textarea>
 </div>
 </div> 
 <button type="button" class="btn btn-success">Submit</button>
 <br>
</div>

<script src= "../public/js/create-post.js"></script>