<!-- add a pet -->

 <div style="align-items: center; margin-left: 25%;">
  <div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Add a pet</div>
    <div class="card-body">
      <div class="form-group">
        <p>add infortaion to add a pet to your account</p>
        <label class="col-form-label mt-4" for="inputDefault">What is your pet's name?</label>
        <input type="text" class="form-control" placeholder="Max" id="petName">
      </div>
      <br>
      <div class="row" >
        <div class="col" >
          <i class="fas fa-dog fa-4x"></i>
          <button type="radio" class="form-check-input" name="optionsRadios" id="canineOption" value="option1" checked="">Canine</button>
        </div>
        <div class="col" >
          <i class="fas fa-cat fa-4x"></i>
          <button type="button" class="form-check-input" name="optionsRadios" id="felineOption" value="option2" checked="">Feline</button>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label class="col-form-label mt-4" for="inputDefault">What is your pet's breed?</label>
        <input type="text" class="form-control" placeholder="Labrador" id="petBreed">
      </div>
      <fieldset class="form-group">
        <legend class="mt-4">Gender</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="Male" checked="">
            Male
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Male Neutered">
            Male Neutered
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="Female">
            Female
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="Female Spayed">
            Female Spayed
          </label>
        </div>
      </fieldset>
      <br>
      <div class="form-group">
        <fieldset>
          <label class="form-label" for="disabledInput">What is your pet's age?</label>
          <input class="form-control" id="petAge" type="text" placeholder="Pet age">
        </fieldset>
      </div>
    </div> 
    <button type="button" class="btn btn-success">Success</button>
    <br>
   </div>
      </div>
      

    </div>
  </div>
 </div>
 <script src="../public/js/create-post.js"></script>
 <!-- end of add pet -->