<!-- create post -->
<div class="create-post-card">
  <div style="align-items: center; margin-left: 20%; margin-top: 5%;">
    <div class="card border-primary mb" style="max-width: 60rem; align-items: center;">
      <form class="form post-form">
        <div class="card-header">Create a post</div>
        <div class="card-body">
          <div class="form-group title">
            <label for="create-post-title" class="form-label mt-4">Title</label>
            <textarea class="form-control" id="create-post-title" rows="1"></textarea>
          </div>
          <div class="form-group category">
            <label for="create-post-category" class="form-label mt-4">Category</label>
            <div class="form-check">
              <label>
                <input type="radio" name="create-post-category" class="radio" id="inquiry" value="inquiry">
                Inquiry
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="radio" name="post-category" class="radio" id="meetup" value="category">
                Meet Up
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="radio" name="post-category" class="radio" id="products" value="products">
                Products
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="radio" name="post-category" class="radio" id="service" value="service">
                Service
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="radio" name="post-category" class="radio" id="training" value="training">
                Training
              </label>
            </div>
          </div>
          <div class="form-group description">
            <label for="create-post-description" class="form-label mt-4">Description:</label>
            <textarea class="form-control" id="create-post-description" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-success mt-4" id="create-post-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/create-post.js"></script>