<!-- create pet -->
<div class="create-pet card bg-secondary m-3" style="width: 65vw">
  <form class="form create-pet-form">
    <div class="card-header">
      <h4>Create Pet</h4>
    </div>
    <div class="card-body">
      <div class="form-group name mb-3">
        <label for="create-pet-name" class="form-label">Name</label>
        <textarea class="form-control form-control-sm" id="create-pet-name" rows="1" placeholder="Enter Pet Name"></textarea>
      </div>
      <div class="form-group species mb-3">
        <label for="create-pet-species" class="form-label">Species</label>
        <textarea class="form-control form-control-sm" id="create-pet-species" rows="1" placeholder="Enter Pet Species"></textarea>
      </div>
      <div class="form-group breed mb-3">
        <label for="create-pet-breed" class="form-label">Breed</label>
        <textarea class="form-control form-control-sm" id="create-pet-breed" rows="1" placeholder="Enter Pet Breed"></textarea>
      </div>
      <div class="form-group gender mb-3">
        <label for="create-pet-gender" class="form-label">Gender</label>
        <div class="form-check">
          <label>
            <input type="radio" name="pet-gender" class="radio" id="male" value="male">
            Male
          </label>
        </div>
        <div class="form-check">
          <label>
            <input type="radio" name="pet-gender" class="radio" id="male-neutered" value="male-neutered">
            Male Neutered
          </label>
        </div>
        <div class="form-check">
          <label>
            <input type="radio" name="pet-gender" class="radio" id="female" value="female">
            Female
          </label>
        </div>
        <div class="form-check">
          <label>
            <input type="radio" name="pet-gender" class="radio" id="female-spayed" value="female-spayed">
            Female Spayed
          </label>
        </div>
      </div>
      <div class="form-group age mb-4">
        <label for="create-pet-age" class="form-label">Age</label>
        <textarea class="form-control form-control-sm" id="create-pet-age" rows="1" placeholder="Enter Pet Age (years)"></textarea>
      </div>
      <button type="submit" class="btn btn-success" id="create-pet-btn">Create</button>
    </div>
  </form>
</div>

<script src="/js/create-pet.js"></script>