<!-- render post -->
{{> post}}

<!-- render comments -->
{{> comment}}

<!-- create comment if user is logged in -->
{{#if logged_in}}
<div class="create-comment-card">
  <div style="align-items: center; margin-left: 40%;">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <form class="form comment-form">
        <div class="card-header">Create a comment</div>
        <div class="card-body">
          <div class="form-group">
            <label for="comment-body" class="form-label mt-4">Comment</label>
            <textarea class="form-control" id="comment-body" rows="3"></textarea>
            <button type="submit" class="btn btn-success mt-4" id="comment-btn">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/create-comment.js"></script>
{{/if}}