<!-- render posts -->
{{> post-header}}

{{> pet-header}}

<!-- new post button -->
<div class="col">
  <div class="text-center m-2">
    <a class="btn btn-bg btn-txt" href="/dashboard/create" role="button">New Post</a>
  </div>
</div>