<form  class= "login-form">

<div class="card border-dark mb-3" style="max-width: 20rem; top: 9vh width: 36vw">
  <div class="card-header"><h2>Login</h2></div>
  <div class="card-body">
    <div class="form-group">
      <label for="email-login" class="form-label mt-4">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email-login"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="password-login" class="form-label mt-4">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-login"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

  </div>

</div>
</form>

<script src="./js/login.js"></script>
{{! I think this will require acess to the js file too }}