<div class="row">
    <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
        {{!-- get a username --}}
      <div class="form-group">
        <label for="name-signup">username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      {{!-- get an email --}}
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      {{!-- get a location --}}
      <div class="form-group">
        <label for="password-signup">Loction:</label>
        <input class="form-input" type="text" id="Location-signup" />
      </div>
      {{!-- get an age --}}
      <div class="form-group">
        <label for="password-signup">Age:</label>
        <input class="form-input" type="number" id="Age-signup" />
      </div>
      {{!-- get a password --}}
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
{{!-- i think we need to make  a login.js that veryfies the infortaion? --}}